body {
    margin:0;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(105, 142, 159);
}

.topbar, .footer {
    display:flex;
    align-items: center;
}

.topbar {
    flex-direction: row;
    background-color:rgb(225, 87, 13);
}

.topbar img {
    max-height:102px;
}

.topbar img + a {
    flex-grow: 1;
}

.topbar a, .toolbar a:visited, .topbar span button, .topbar span a, .roundedButton {
    text-decoration: none;
    color:black;
    font-size:48px;
    text-align: center;    
    border:solid 1px black;
    border-radius:12px;
    background-color: black;
    color:white;
    padding:6px;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
    font-size:20px;
    font-family:sans-serif;
}

.topbar span {
    font-size: 24px;
}

.roundedButton {
    float:right;
    margin-right:2px;
    font-size:14px;
    cursor:pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.error {
    color:red;
}

.footer {
    background-color:gray;
    color:white;
    padding-bottom: 4px;
    padding-right: 10px;
    border-top: solid 1px black;
}

.footer div {
    flex-grow: 1;
    text-align: right;
}

.main {
    display:flex;
    flex-grow:1;
    flex-direction: row;
}

.menu {
    background-color:rgb(225, 87, 13);
    border-right:solid 1px rgb(225, 87, 13);
    min-width: 100px;
}

.menu ul {
    list-style-type: none;
    padding:0 10px;
}

.menu .hidden {
    display:none;
}

.menu .hidden a {
    cursor: not-allowed;
    text-decoration: none;
    color:currentColor;
}

.menu .hidden.menuSelected {
    display:list-item;
}

.center {
    flex-grow: 1;
    padding:10px;
}

.menuSelected {
    font-weight: bold;
}

.menuSelected:before {
    font-weight: bold;
    content:"\25B6";
}

.subscribe {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.subscribe *, .subscribe table * {
    text-align: center;
}

.subscribe table td:first-child, .profile td:first-child {
    text-align: right;
    min-width:200px;
}

#loginBtn, #registerBtn {
    display:none;
}

.nologin #loginBtn, .nologin #registerBtn {
    display:inline;
}

body.nologin .nologin {
    display:none;
}

body:not(.nologin) #home, body:not(.nologin) .home {
    display: none;
}

.page {
    display:none;
    min-width: 100%;
    min-height: 100%;
}

.active, .flex.active {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box form {
    background-color: white;
    display: block;
    padding: 10px;
    border: solid 3px black;
}

.box form label, #register .box form label, #profile .box form label {
    width:200px;
    display:inline-block;
}

#listUsers table {
    border-collapse: collapse;
}

#listUsers table td, #listUsers table th {
    border:solid 1px black;
}

#lastImages .image-container,
#monProfil .image-container {
    display: block;
}

.image-container,
#lastImages .image-container,
#otherUser .image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
}

#mesCreas .image-container,
#mesAbos .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.image-container .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}
  
#titre,
#descrption,
#imageBtn,
#userLink {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.invisible {
    display:none
}